@charset "UTF-8";
@import url(/CSS/modern-reset.css);
@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;600;700&display=swap");
@font-face {
  font-family: "VCR OSD Mono"; /* Выберите имя для вашего шрифта */
  src: url("/CSS/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype"); /* Путь к вашему TTF файлу */
  font-weight: normal; /* Нормальный вес шрифта */
  font-style: normal; /* Нормальный стиль шрифта */
}
@font-face {
  font-family: "RetroWave"; /* Выберите имя для вашего шрифта */
  src: url("/CSS/fonts/alien_encounters/Alien-Encounters-Regular.ttf") format("truetype"); /* Путь к вашему TTF файлу */
  font-weight: normal; /* Нормальный вес шрифта */
  font-style: normal; /* Нормальный стиль шрифта */
}
#register__form .password__check {
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  transition: all 0.3s ease;
}

.TITLE {
  text-shadow: 0px 0px 12px rgb(5, 245, 249);
  color: rgb(5, 245, 249);
  text-decoration: none;
  font-family: RetroWave, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(5, 245, 249);
}

.sumbit__button {
  width: 100%;
}
.sumbit__button .btn {
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-weight: 700;
  display: block;
  width: 60%;
  font-size: 15px;
  margin: 0 auto;
  border: none;
}
.sumbit__button .btn:active {
  scale: 0.9;
}
.sumbit__button .btn-design1 {
  background: none;
  color: rgb(255, 104, 62) !important;
  transition: all 280ms ease-in-out 0s;
  letter-spacing: 1px;
}
.sumbit__button .btn-design1::after, .sumbit__button .btn-design1::before {
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 3px auto;
  position: relative;
  transition: all 280ms ease-in-out 0s;
  width: 0;
  box-shadow: 0px 0px 0px #22AFCA;
}
.sumbit__button .btn-design1:hover {
  letter-spacing: 4px;
}
.sumbit__button .btn-design1:hover::after, .sumbit__button .btn-design1:hover::before {
  border: 1px solid rgb(255, 104, 62);
  transition: width 300ms ease-in-out 0s;
  width: 100%;
  box-shadow: 0 0 19px 1px rgb(255, 104, 62);
}

body {
  position: relative;
  height: 100vh;
  background-color: rgb(11, 11, 11);
  perspective: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
body .music_Box {
  position: absolute;
  top: 68%;
  left: 48%;
  z-index: 0;
  /* transform: translate(-50%, -50%); */
  transform: scaleY(130%) scaleX(110%) rotate(12deg) translate(-50%, -50%);
}
body .music_Box .audio_Box {
  display: flex;
  justify-content: center;
  align-content: center;
  mix-blend-mode: screen;
}
body .music_Box .audio_Box .visual {
  position: relative;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  transform: scale(1.2) rotate(90deg);
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.play .btn-play {
  border-left: 80px solid green;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  cursor: pointer;
}
.play .btn-pause {
  border-right: 20px solid green;
  border-left: 20px solid green;
  height: 100px;
  width: 75px;
  cursor: pointer;
}

.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 0px;
  height: 33px;
  border-radius: 50%;
  /* border-top: 24px solid #fff; */
  /* border-right: 20px solid transparent; */
  /* border-left: 20px solid transparent; */
  -webkit-transform-origin: top left;
  box-shadow: 0px -31px 41px 29px rgb(255, 104, 62);
  transform-origin: top left;
  transition: 0.2s;
}

.body_syntwave-grid {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 0;
  background: linear-gradient(180deg, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background-size: 100% 10%, 5% 100%;
  background-position: center;
  height: 100%;
  position: absolute;
  width: 100%;
  animation: gridAnimation 10s linear infinite;
}
@keyframes gridAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.syntwave-sun {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  filter: blur(20px);
  border: 40px solid black;
  position: absolute;
  background-color: rgb(255, 104, 62);
  width: 370px;
  height: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
}

.body__inner {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  position: relative;
}

.login__register__form {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 1%;
  font-family: VCR OSD Mono, sans-serif, monospace, "Courier New", Courier, monospace;
  background-color: rgb(39, 40, 40);
  box-shadow: 0px 0px 16px 1px rgb(5, 245, 249);
}
.login__register__form .link__to__register {
  position: absolute;
  bottom: -10%;
  font-size: 12px;
  text-shadow: 0px 0px 12px rgb(5, 245, 249);
  color: rgb(5, 245, 249);
  text-decoration: none;
  text-shadow: 0 0 4px black;
  transition: all 0.1s ease;
}
.login__register__form .link__to__register:hover {
  text-decoration: underline;
}
.login__register__form h2 {
  font-size: 30px;
  text-shadow: 0px 0px 12px rgb(5, 245, 249);
  color: rgb(5, 245, 249);
  text-decoration: none;
  color: rgb(5, 245, 249);
}
.login__register__form .input__box {
  width: 100%;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.login__register__form .input__box .input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  background-color: rgb(181, 255, 255);
  transition: all 0.1s;
}
.login__register__form .input__box .input:focus {
  box-shadow: 0px 0px 16px 1px rgb(5, 245, 249);
}
.login__register__form .input__box .password {
  padding: 0 30px 0 10px;
}
.login__register__form .input__box .show__password {
  position: absolute;
  right: 1%;
  top: 10%;
  width: 10%;
  height: 80%;
  border: none;
  background-image: url(/CSS/eye-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.05s;
}
.login__register__form .input__box .show__password:active {
  transform: scale(0.9);
}
.login__register__form::before, .login__register__form::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(5, 245, 249);
  top: 0;
  box-shadow: 0px 0px 12px 2px rgb(5, 245, 249);
}
.login__register__form::after {
  top: auto;
  bottom: 0;
}

#login__form {
  transition: all 0.5s ease;
}

#register__form {
  display: none;
  padding: 0;
  overflow: hidden;
  height: 3px;
  width: 150px;
  left: 120%;
  transition: all 0.5s ease;
}/*# sourceMappingURL=style.css.map */